.landing-footer{
     color: black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    bottom: 0;
    font-size: 14px;
    font-family: var(--font2);
    height: 8vh;
    width: 100%;
    box-sizing: border-box; 
    background: linear-gradient(var(--secondary), var(--secondary_grad))
}

.landing-footer > * {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.one{
    display: flex;
}
.two{
    display: flex;
}
.three{
    display: flex;
}