:root {
  /* COLORS */
  --black: #000000;
  
  /* BKGD */
  --primary: #c5c5c5;
  --secondary: #b4b2b2;
  --tertiary: var(--black);

  --primary_grad: #fafafa;
  --secondary_grad: #ffffff;

  /* FONTS */
  --font1: "Titling Gothic FB Wd Bd";
  --font2: 'Archivo Black';
  --font2: "Titling Gothic FB Wd Bd";
  --font2: comfortaa;
  --font3: montserrat;
  --font3: poppins;

  --title-font: var(--font1);
  --primary-font: var(--font2);
  --secondary-font: var(--font3);

  /* FONT SIZING */

  --large: 48px;
  --medium: 24px;
  --small: 16px;
  --large-desktop: 40px;
  --medium-desktop: 24px;
  --small-desktop: 10px;
  --nav-item-size: 5vw;

  /* MISC */
  text-align: center;
  --shadow-depth: 4px;
  --radius: 4px;

  --navbar-height: 8vh;
  --tab-height: 8vh;

  --desktop-navbar-height: 8vh;

  /* BLURRED SHADOW FOR CONTRAST OF ELEMENTS AGAINST BACKGROUND */
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* DEVICE BREAKPOINTS */
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 992px;

}

html {
  color: black;
  font-family: var(--font1);
}

/* a:link {  color: black;text-decoration: none; } */
a:link { color: black;text-decoration: none; }
/* a​:visited {  color: black; text-decoration: none;} */
/* a​:hover {  color: black; } */
/* a { color: black;} */

button {
  background-color: var(--primary);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: 3px;
  padding: 10px;
  font-family: var(--font2)
}

.panel {
    font-family: var(--font1);
    width: 100%;
    background: linear-gradient(var(--secondary), var(--secondary_grad));
    margin: 20px auto;
    width: 80vw;
    max-width: 400px;
    border-radius: 3px;
    padding: 20px;
     
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow);
}

.large {
  /* font-family: var(--primary-font);
  font-size: var(--large); */
  font-family: var(--font1);
  font-size: 30px;
font-style: normal;
font-weight: 700;
}

.medium {
  font-family: var(--primary-font);
  font-size: var(--medium); 
  font-family: var(--font1) ;
font-style: normal;
font-weight: 700;
}

.small {
  font-family: var(--secondary-font);
  font-size: var(--small);
}

.App {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: linear-gradient(0deg, var(--purple) 10%, var(--yellow) 90%) fixed;
  /* background-  */
  z-index: -10px;
  position: relative;
}

.App .navbar-brand {
  font-weight: bold;
}

.radio_btn {
  display: none;
}

button:active {
  animation: button_press 0.3s;
}

.container {
  margin: 0 2.5vw;
  margin-top: var(--navbar-height);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


@keyframes button_press {
  50% {
    transform: translateX(var(--shadow-depth)) translateY(var(--shadow-depth));
    transform: translateX(5px) translateY(5px);
    box-shadow: 0px 0px black;
  }
  100% {
    box-shadow: 6px 6px black;
  }
}

/*

@media (min-width: 480px) {
  .medium{
      font-size: var(--medium-desktop);
  }

  .small {
      font-size: var(--small-desktop);
  }

  .container {
    margin-top: var(--desktop-navbar-height);
  }

  .text-response {
      font-size: var(--small-desktop);
  }

  #feedback-textbox {
      font-size: var(--medium-desktop);
  }

  #feedback-submit {
      font-size: var(--medium-desktop);
  }

  .sidenav a {
      font-size: var(--small);
  }
}

*/
