.formatter {
    height: 500px;
    width: 500px;
    background-color: var(--nude);
    margin: 10px;
    display: flex;
    justify-content: left;
    position: relative;
}

.idx, .price {
    font-family: var(--font1);
    font-size: 50px;  
}

.price {
    position: absolute;
    bottom: 10px;
}

.img {
    position: absolute;
    max-height: 400px;
    max-width: 400px;
    right: 10px;
    z-index:10;
}

canvas {
    border: 10px solid lightblue;
    background-color: var(--nude)
}